body {
  background-color: #1c1a19;
}

.dark-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  text-align: center;
  justify-content: space-between;
  margin: 10px;
  color: #fff;
}

.header-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #3c3a39;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.hero-section {
  background-image: url(assets/hero-illustration.svg);
  background-repeat: no-repeat;
  background-position: right 120% !important;
  gap: 12px;
}

.header-title {
  color: #fff;
  font-family: Roboto, "Helvetica Neue";
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}

.social-media {
  justify-content: flex-start;
  max-width: 50vw;
  flex-wrap: wrap;
  gap: 10px;
}

.section-title {
  color: #ff6b00;
  font-family: 'Crete Round';
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
}
.section-subtitle {
  color: #fff5e1;
  font-size: 24px;
  text-align: center;
}

.section-text {
  color: #ffffff;
  max-width: 100%;
  line-height: 24px;
  text-align: center;
}
